body, button, input, textarea {
  font-family: var(--font-primary);
  color: var(--text-primary);
}

h1, h2, h3, h4 {
  font-family: var(--font-primary);
  color: var(--title);
  font-weight: 700;
  line-height: 1.2;
}

p {
  font-size: 15px;
  color: var(--text-primary);
  line-height: 1.4;
}

.valor {
  font-family: var(--font-numbers);
}
